@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {font-family: "LIBRARY 3 AM";
    src: url("http://db.onlinewebfonts.com/t/a5421f5aa8dda33abf9b56a9366cab4e.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/a5421f5aa8dda33abf9b56a9366cab4e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/a5421f5aa8dda33abf9b56a9366cab4e.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/a5421f5aa8dda33abf9b56a9366cab4e.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/a5421f5aa8dda33abf9b56a9366cab4e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/a5421f5aa8dda33abf9b56a9366cab4e.svg#LIBRARY 3 AM") format("svg"); /* iOS 4.1- */
}

body {
    min-height: 100vh;
    margin : 0;
    padding: 0;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
    background: rgba(0, 0, 0, 0.6) url('Dino1.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.game {
    position: relative;
    top: 100px;
    left: 15px;
    width: 600px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(transparent, white); */
    border-radius: 0.5rem;
}

#dino {
    width: 50px;
    height: 50px;
    position: relative;
    top: 140px;
    left: 30px;
    background-image: url(Dino_run_0.png);
    background-size: 50px 50px;
}

.jump {
    animation: jump 0.5s linear;
    background-image: url(Dino_stationary.png) !important;
}

@keyframes jump {
    0% {top: 140px;}
    15% {top: 110px;}
    30% {top: 90px;}
    47% {top: 71px;}
    50% {top: 70px;}
    53% {top: 71px;}
    70% {top: 90px;}
    85% {top: 110px;}
    100% {top: 140px;}
}

#cactus {
    width: 25px;
    height: 50px;
    position: relative;
    top: 90px;
    left: 600px;
    background-image: url(Cactus.png);
    background-size: 25px 50px;
    animation: block 2s linear 2s infinite;
}

@keyframes block {
    0% {left: 600px;}
    100% {left: -30px;}
}

#ground1 {
    width: 2520px;
    height: 25px;
    position: relative;
    top: 70px;
    left: 0px;
    background-image: url(Ground.png);
    animation: ground-move1 8s linear infinite;
}

@keyframes ground-move1 {
    0% {left: 0px;}
    100% {left: -2520px;}
}

#ground2 {
    width: 2520px;
    height: 25px;
    position: relative;
    top: 45px;
    left: 2520px;
    animation: ground-move2 8s linear infinite;
    background-image: url(Ground.png);
}

@keyframes ground-move2 {
    0% {left: 2520px;}
    100% {left: 0px;}
}

#cloud1 , #cloud2, #cloud3{
    width: 60px;
    height: 75px;
    background-size: 60px 75px;
    position: relative;
    left: 600px;
    top: -90px;
    background-image: url(Cloud.png);
    animation: cloud-move1 12s linear infinite;
}

@keyframes cloud-move1 {
    0% {left: 600px;}
    100% {left: -1260px;}
}

#cloud2 {
    left: 800px;
    top: -120px;
    animation: cloud-move2 12s linear infinite;
}

@keyframes cloud-move2 {
    0% {left: 1200px;}
    100% {left: -660px;}
}

#cloud3 {
    left: 1200px;
    top: -270px;
    animation: cloud-move3 12s linear infinite;
}

@keyframes cloud-move3 {
    0% {left: 1800px;}
    100% {left: -60px;}
}

.game-over {
    width: 285px;
    height: 30px;
    position: relative;
    top: -300px;
    left: 157px;
}

.reset {
    width: 34px;
    height: 30px;
    position: relative;
    top: -270px;
    background-image: url(Reset1.png);
    background-size: 34px 30px;
    padding: 0px;
    border: 0px;
    left: -15px;
}

.reset:hover {
    width: 36px;
    height: 32px;
    padding: 2px 2px;
    background-size: 36px 32px;
    top: -270.5px;
    left: -15.5px;
}

.hide {
    visibility: hidden;
}

.score {
    font-size: large;
    position: relative;
    top: 100px;
    width: 630px;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
    color: rgb(249, 245, 245);
}

.gamename {
    width: 550px;
    font-family: 'Library 3 AM';
    color: rgb(228, 225, 225);
    font-size: 10rem;
    margin: auto;
    padding-top: 6rem;
    padding-left: 3.5rem;
}